@model Cine_Nauta.DAL.Entities.City

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css" />

<div class="container">
    <main role="main" class="pb-3 p-3">
        <h1 class="text-center rounded-pill div-title">Detalles ciudad</h1>
        <div>
            <partial name="../Shared/PartialViews/_CityDetailDelete" />
        </div>
        <div>
            <br />
            <a asp-action="EditCity" asp-route-cityId="@Model?.Id" class="btn btn-outline-primary">Editar Ciudad</a>
            <a asp-action="DeleteCity" asp-route-cityId="@Model?.Id" class="btn btn-outline-warning">Eliminar Ciudad</a>
            <a asp-action="DetailsState" asp-route-stateId="@Model?.State.Id" class="btn btn-outline-success">Regresar</a>
        </div>
    </main>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="//cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
}