@model Cine_Nauta.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center" style="height: 80vh;">
    <div class="col-md-4">
        <h3 class="text-center p-2">Iniciar Sesión</h3>
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label asp-for="Username" for="floatingInput">Email address</label>
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Password" type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label asp-for="Password" for="floatingPassword">Password</label>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <div class="form-check">
                    <input asp-for="RememberMe" type="checkbox" class="form-check-input" />
                    <label asp-for="RememberMe" class="form-check-label"></label>
                </div>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>
            <div class="form-group mt-2 text-center">
                <input type="submit" value="Iniciar Sesión" class="btn btn-outline-primary" />
                <a asp-action="Register" class="btn btn-outline-secondary">Registrar nuevo usuario</a>
            </div>
        </form>
    </div>
</div>

@*
    *@