@model IEnumerable<Cine_Nauta.DAL.Entities.Movie>

@{
    ViewData["Title"] = "Index";
}



<h1 class="text-center">Peliculas</h1>

<a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de Compras</a>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Título: @Html.DisplayFor(modelItem => item.Title)</h5>
                    <p class="card-text">Descripción: @Html.DisplayFor(modelItem => item.Description)</p>

                    <br />
                    <div class="btn-group">
                        <a asp-action="DetailsMovie" asp-route-id="@item.Id" class="btn btn-outline-info">Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    }
